# Database Credentials (Docker Instance)
POSTGRES_USER=<USER>
POSTGRES_PASSWORD=<PASSWORD>
POSTGRES_DB=<DB_NAME>

# Go Application Connection String
DB_URL=postgres://<USER>:<PASSWORD>@localhost:5432/<DB_NAME>?sslmode=disable

# Besu Network
BESU_RPC_URL=http://127.0.0.1:8545
PRIVATE_KEY=<PRIVATE_KEY_OF_THE_DEPLOYER_ACCOUNT>
CONTRACT_ADDRESS=<ADRRES_GENERATED_IN_BESU_NETWORK_DEPLOYMENT>
